<div class="prontuario-div">
  <h2>{{ this.paciente.nome }}</h2>
  <div class="info">
    <button
      class="btn btn-success rounded-pill px-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#info-paciente"
      aria-expanded="false"
      aria-controls="info-paciente"
    >
      Dados pessoais
    </button>
    <div id="info-paciente" class="collapse">
      <h5>Contato de emergência</h5>
      <p>
        {{ this.paciente.nomeEmergencia }}:
        {{ this.paciente.contatoEmergencia }}
      </p>
      <h5>Alergias</h5>
      <p *ngIf="paciente.alergias == '' || paciente.alergias == []">Nenhuma informada</p>
      <p *ngFor="let alergias of paciente.alergias">{{ alergias }}</p>
      <h5>Cuidados específicos</h5>
      <p *ngIf="paciente.cuidadosEspecificos == '' || paciente.cuidadosEspecificos == [] ">Nenhum informado</p>
      <p *ngFor="let cuidados of paciente.cuidadosEspecificos">
        {{ cuidados }}
      </p>

      <h4>Informações gerais</h4>
      <p>Genero: {{ paciente.genero }}</p>
      <p>Data nascimento: {{ paciente.dataNascimento }}</p>
      <p>CPF: {{ paciente.cpf }}</p>
      <p>RG: {{ paciente.rg }}</p>
      <p>Estado civil: {{ paciente.estadoCivil }}</p>
      <p>Naturalidade: {{ paciente.naturalidade }}</p>

      <h5>Contato</h5>
      <p>Telefone: {{ paciente.telefone }}</p>
      <h4>Endereço</h4>
      <p>CEP: {{ paciente.cep }}</p>
      <p></p>
      <p>
        Número e complemento: {{ paciente.numero }} {{ paciente.complemento }}
      </p>
      <h5>Convênio</h5>
      <p>Nome: {{ this.paciente.convenio }}</p>
      <p>Número: {{ this.paciente.nConvenio }}</p>

      <button class="btn-normal" (click)="editarPaciente()">Editar</button>
      <button class="btn-normal" (click)="excluirPaciente()">Excluir</button>
    </div>
  </div>
  <h2>Consultas</h2>

  <div class="info">
    <button
      class="btn btn-success rounded-pill px-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#consultas-paciente"
      aria-expanded="false"
      aria-controls="consultas-paciente"
    >
      Mostrar consultas
    </button>
    <div id="consultas-paciente" class="collapse">
      <div *ngIf="this.naoTemConsultas">
        <p>Não há consultas cadastradas</p>
      </div>
      <div class="div-consulta" *ngFor="let consulta of consultas">
        <div *ngIf="consulta != ''" class='consulta'>
          <h4>Consulta de {{ consulta.data }} {{ consulta.horario }}</h4>
          <h5>Motivo</h5>
          <p>{{ consulta.motivo }}</p>
          <h5>Descricao do problema</h5>
          <p>{{ consulta.descricao }}</p>
          <h4>Medicação</h4>
          <p>{{ consulta.medicacao }}</p>
          <h5>Dosagem e precauções</h5>
          <p>{{ consulta.dosagemPrecaucoes }}</p>
          <button class="btn-normal" (click)="editarConsulta()">Editar</button>
          <button class="btn-normal" (click)="excluirConsulta()">
            Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2>Exames</h2>

  <div class="info">
    <button
      class="btn btn-success rounded-pill px-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#exames-paciente"
      aria-expanded="false"
      aria-controls="exames-paciente"
    >
      Mostrar Exames
    </button>
    <div id="exames-paciente" class="collapse">
      <div *ngIf="this.naoTemExames">
        <p>Não há exames cadastrados</p>
      </div>
      <div class="div-exames" *ngFor="let exame of exames">
        <div *ngIf="exame != ''" class="exame">
          <h4>
            {{ exame.nomeExame }}: {{ exame.dataExame }}
            {{ exame.horarioExame }}
          </h4>
          <h5>Tipo de exame:</h5>
          <p>{{ exame.tipoExame }}</p>
          <h5>Laboratório</h5>
          <p>{{ exame.laboratorio }}</p>
          <h5>URL documento</h5>
          <p>{{ exame.urlDocumento }}</p>
          <h5>Resultado</h5>
          <p>{{ exame.resultado }}</p>
          <button class="btn-normal" (click)="editarExame()">Editar</button>
          <button class="btn-normal" (click)="excluirExame()">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>
