.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3e7237;
  overflow: hidden;
  border-radius: 15px;
  align-items: center;
}
.toolbar div {
  display: flex;
  justify-content: space-between;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration: none;
}

.toolbar .usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menos-dest {
    color: #ffffff;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    // cursor: pointer;
    // #id:hover {
    //   color: #f2f2f2;
    // }
  }
}



