.secao{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.msg-erro{
    color: red;
    font-size: smaller;
    margin: 0px;
}

.campo-erro input{
    border-color: red;
    
}

.label {
    padding-top: 10px;
}